@import "extend"; 
@import "variables";
//variables
//mixing//
@mixin card(){
    width: fit-content;
        height: fit-content;
        background:none;
        display: contents;
        align-items: center;
        justify-content: center;
        padding: 25px 25px;
        border-radius: 15px;
        gap: 20px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}
@mixin box(){
    flex: 1;
        overflow: hidden; 
        transition: 0.5s;
        margin: 0 3rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6), -5px -5px 10px rgba(0, 0, 0, 0.6);
        border-radius: 0.5rem;
        line-height: 0;
        width: 200px;
        height: 350px;
}
body{
    background-image: url(../img/Picsart_23-07-05_19-42-37-354.jpg);
        background-position: center center center center;
        background-size: cover;
        opacity: 1;
    h1{
        font-family: 'Mr Dafoe', cursive;
        font-size: 70px;
        text-align: center;
        color: $colorletras;
        text-decoration: none;
    }
    .navegador{
        display:flex ;
        list-style: none;
    }
    .navegador__li{
    padding: 0.5rem;
    background: none;
    font-weight: 700;  
    border-radius: 200px ;   
    margin: 40px 20px;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    color: #fff;
    }
    a{
        text-decoration: none;
    }
    .navegador__a{
        color: black;
        text-decoration: none;
    }

    .container {
        display: flex;
    }
    
    .box {
        @include box();
    }
    
    .box img {
        width: $ancho;
        height: calc(100% - 6rem);
        object-fit: cover;
        transition: 0.5s;
    }
    
    .box figcaption {
        font-size: 2.2rem;
        text-align: center;
        line-height: 2.6;
        color: $color_2;
    }
    
    
    
    .box:hover img {
        width: $ancho;
        height: 100%;
    }
    
     /* SECTION TEXT */
    
    .section__text {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    
    
    
    p a {
        letter-spacing: 0px;
        text-decoration: none;
        color: $colorletras;
    }
    
    .icon {
        font-size: 12px;
        color: $color_2;
        background: $colorletras;
        padding: 8px;
        border-radius: 50%;
    }
    footer{
    
    background:none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    border-radius: 15px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    }
    .card {
        
        @include card();
        
        }
        
        a{
        text-decoration: none!important;
        }
        .socialContainer {
        width: 52px;
        height: 52px;
        background: #0F2027;  /* fallback for old browsers */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition-duration: .3s;
        border-radius: 15px;
        }
        .containerOne:hover {
        background-color: #d62976;
        transition-duration: .3s;
        }
        .containerTwo:hover {
        background-color: #00acee;
        transition-duration: .3s;
        }
        .containerThree:hover {
        background-color: #0072b1;
        transition-duration: .3s;
        }
        .containerFour:hover {
        background-color: #128C7E;
        transition-duration: .3s;
        }
        .socialContainer:active {
        transform: scale(0.9);
        transition-duration: .3s;
        }
        .socialIcon {
        color: white;
        }
        .socialContainer:hover .socialIcon {
        animation: slide-in-top 0.3s both;
        }
        @keyframes slide-in-top {
        0% {
            transform: translateY(-50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
      
      .nombres{
        @extend .controles;
        width: 200px
        
      }
      .form-register {
        @extend .formulario;
        width: 300px;
        border-radius: 3rem
        
      }
    
    .apellidos{
        @extend .controles;
        width: 200px;
    }
      .form-register h4 {
        font-size: 22px;
        margin-bottom: 20px;
      }
      
      .controls {
        width: 100%;
        background: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f53c5;
        font-family: 'calibri';
        font-size: 18px;
        color: white;
      }
      
      .form-register p {
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
      }
      
      .form-register a {
        color: white;
        text-decoration: none;
      }
      
      .form-register a:hover {
        color: white;
        text-decoration: underline;
      }
      
      .form-register .botons {
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
      }
    






    @media (max-width:412px ) {
        .navegador{
            display:block ;
            list-style: none;
        }
        .navegador__li{
            padding: 0.5rem;
            background: none;
            font-weight: 700;    
            margin: 5px;
            font-family: 'Libre Baskerville', serif;
            font-size: 20px;
            color: #fff;
            }
        body{
            max-height:914
            
        }
        
        .padre{
            display: grid;
            grid-template-columns: 1fr   
            
        }
        .box {
            flex: 1;
            overflow: hidden;
            transition: 0.5s;
            margin: 15px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6), -5px -5px 10px rgba(0, 0, 0, 0.6);
            border-radius: 0.5rem;
            line-height: 0;
            width: 200px;
            height: 350px;
            
        }
        .container-icon{
            flex-direction: column;
            padding: 0px;
            
            
    }
         /* SECTION TEXT */
        
        .section__text {
            display: flex;
            justify-content: end;
            align-items: center;
        }
        
        
        p a {
            letter-spacing: 0px;
            text-decoration: none;
            color: $colorletras;
        }
        
        .icon {
            font-size: 12px;
            color: $color_2;
            background: $colorletras;
            padding: 8px;
            border-radius: 50%;
        }
    .container{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    
    .container-icon{
        flex-direction: column;
        padding: 0px;
        text-align: center;
    }
    .tiendabuzo{
        width: 100%;
        height: 100%;
    }
    .buzopadre{
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
    }
    .card-body{
        display: grid;
        grid-template-columns: 1fr ;
        background-color: $colorletras;
        width: 100%;
        height: 100%;
    }
    .comprar{
        border-radius: 30px;
        box-shadow: #297db0;
    }
    a{
        text-decoration: none;
        color: $color_6;
    
    
    }
    }
    .container-icon{
        align-items: center;	
    }
h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
        color: $color_5;
        padding: 10px;
        text-decoration:underline;
        margin-top: revert;
}
}
