$colorletras: beige;
$ancho:100%;
$color_2: aliceblue;
$color_3: aquamarine;
$color_4: #297db0;
$color_5: #fff;
$color_6: #20a54a;
$font-family_1: "Mr Dafoe", cursive;
$font-family_2: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;